@import "../../common/scrollbar";

.searchEngine {
  &-head {
    display: flex;
    align-items: center;

    h2 {
      text-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      color: var(--text-secondary);
      font-size: 20px;
      font-weight: 700;
    }

    &-input {
      display: flex;
      align-items: center;
      position: relative;
      margin-left: auto;
      margin-right: 30px;
      width: 390px;
      height: 38px;
      border-radius: 4px;
      border: 1px solid rgba(146, 160, 186, 0.3);
      background-color: var(--bg-secondary);

      .search {
        max-width: 12px;
        max-height: 12px;
        margin-left: 10px;
        margin-right: 15px;
        transition: 0.2s ease;
        cursor: pointer;
      }

      .input {
        width:100%;
        height: 100%;
        background: transparent;
        outline: none;
        border: 0;
        color: var(--text-primary);
        font-size: 12px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
      }

      &-results.visible {
        position: absolute;
        top: 50px;
        opacity:1;
        max-height: 340px;
        pointer-events: all;
        width: 100%;
        overflow: hidden;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        border: 1px solid var(--border-color);
        background-color: var(--bg-primary);
        padding: 7px 10px;
        padding-right: 2px;
        transition: opacity 0.2s ease;
        
        p {
          color: var(--text-secondary);
          font-size: 12px;
          font-weight: 700;
          font-style: normal;
          letter-spacing: 0.06px;
          line-height: 24px;
        }

        .items-list {
          margin-top: 3px;
          display: flex;
          flex-direction: column;
          gap: 2px;
          max-height: 340px;
          overflow: auto;

          .item {
            display: flex;
            align-items: center;
            padding: 5px 6px;
            gap: 6px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid rgba(146, 160, 186, 0.3);
            background-color: var(--bg-secondary);
            transition: 0.1s ease;
            cursor: pointer;

            &:hover {
              background-color: var(--text-active);
              color: var(--bg-secondary);
            }

            &:active {
              background-color: lighten(#dea101, 15%);
            }

            .icon-wrap {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 21px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              border-radius: 2px;
              border: 1px solid rgba(146, 160, 186, 0.3);
              background-color: var(--bg-secondary);

              svg {
                width: 14px;
                height: fit-content;
              }
            }
          }
        }
      }
      &-results {
        opacity: 0;
        pointer-events: none;
      }
    }

    &-bell {
      width: 38px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid rgba(146, 160, 186, 0.3);
      background-color: var(--bg-secondary);

      cursor: pointer;
    }
  }
}