.app {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow: hidden;
  height: 100vh;
  &-body {
    display: flex;
    .content {
      flex: 1;
      padding: 30px;
    }
  }
}
