@import-normalize;
@import "./scss/common/variables";
@import "./assets/fonts/metropolis/stylesheet.css";
@import "./scss/common/scrollbar";
@import "./scss/common/buttons";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: "Metropolis";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

button {
  font-family: "Metropolis";
  outline: none;
  border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}